<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What do people say?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.css">
</head>
<body>
    <div id="app" class="container text-center d-none">
        <form>
            <h1 class="mt-5">What do people say?</h1>
            <div v-for="(qq, i) in q">
                <div class="m-2" v-show="i > 0">vs.</div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" required v-model="q[i]">
                    <button type="button" class="btn btn-link" v-on:click="removeQ(i)" v-show="i > 1" v-bind:disabled="searching">Remove</button>
                </div>
            </div>
        </form>
        <div class="my-3">
            <button type="button" class="btn btn-primary" v-on:click="addQ" v-bind:disabled="searching">Add</button>
        </div>
        <button type="button" class="btn btn-primary btn-lg" v-on:click="search" v-bind:disabled="searching">Check</button>
        <div class="mt-4" v-show="showResult">
            <h2>People said</h2>
            <div v-for="(r, i) in result">
                #{{ i + 1 }} - {{ r.q }} - {{ r.hitsFormatted }}
            </div>
            <canvas id="chart" width="100" height="100"></canvas>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>